Repository DefiLlama/DefiLlama-Adapters, pull requests merged in 2022-10, with the labels that each got.

#4115 add tethys-finance
  volumes/adapters/tethys-finance/index.ts
  volumes/index.ts
Labels: Volumes

#4173 Update DUAL tvl
  projects/dual/index.js
Labels: TVL

#4172 Added Algofi Vault 2
  projects/algofi/index.js
Labels: TVL

#4160 Add Ease protocol
  projects/ease/index.js
Labels: TVL

#4253 Follow-up: Angle cross-chain liquidations (polygon, arbi, op)
  liquidations/angle/index.ts
Labels: Liquidations

#4265 Hope to list a new protocol called Arctic
  projects/arctic/abi.js
  projects/arctic/index.js
  volumes/adapters/arctic/index.ts
Labels: TVL, Volumes

#4381 add pangeaswap dex (trading volume)
  volumes/adapters/pangeaswap/index.ts
  volumes/index.ts
Labels: Volumes
