Repository DefiLlama/DefiLlama-Adapters, pull requests merged in 2022-09, with the labels that each got.

#3971 BrahmaFi TVL update
  projects/brahmafi/erc4626.json
  projects/brahmafi/helper.js
  projects/brahmafi/index.js
Labels: TVL

#3969 add Stake.ly
  projects/stake-ly/index.js
Labels: TVL

#3972 Neo dashboard/main
  projects/nudes.js
  volumes/adapters/flamingo-finance/index.ts
Labels: TVL, Volumes

#3974 add pyeswap dexs
  volumes/adapters/pyeswap/index.ts
Labels: Volumes

#3952 Add WhaleSwap Fantom deployment
  projects/whaleswap/index.js
  volumes/adapters/whaleswap/index.ts
Labels: TVL, Volumes

#3975 add clipper-dex
  volumes/adapters/clipper/index.ts
  volumes/helper/chains.ts
Labels: Volumes

#3968 add cherryswap-dexs
  volumes/adapters/cherryswap/index.ts
Labels: Volumes

#3916 add sunswap dexs
  volumes/adapters/sunswap/index.ts
  volumes/helper/chains.ts
  volumes/helper/customBackfill.ts
Labels: Volumes

#3923 add vvs-finance dexs
  volumes/adapters/vvs-finance/index.ts
  volumes/index.ts
Labels: Volumes

#3933 add meshswap dexs
  volumes/adapters/meshswap/index.ts
  volumes/index.ts
Labels: Volumes

#3929 add mdex dexs
  volumes/adapters/mdex/index.ts
  volumes/index.ts
Labels: Volumes

#3980 Add USK TVL
  package-lock.json
  projects/kujira/index.js
Labels: TVL

#3940 add nomiswap dexs
  volumes/adapters/nomiswap/index.ts
  volumes/index.ts
Labels: Volumes

#3945 add mojitoswap dexs
  volumes/adapters/mojitoswap/index.ts
  volumes/helper/chains.ts
  volumes/index.ts
Labels: Volumes

#3946 add fstswap dexs
  volumes/adapters/fstswap/index.ts
  volumes/index.ts
Labels: Volumes

#3949 add beethoven-x dexs
  volumes/adapters/beethoven-x/index.ts
  volumes/index.ts
Labels: Volumes

#3957 add defi-swap dexs
  volumes/adapters/defi-swap/index.ts
  volumes/index.ts
Labels: Volumes

#3964 add wanswap-dex
  volumes/adapters/wanswap-dex/index.ts
  volumes/helper/chains.ts
  volumes/index.ts
Labels: Volumes

#3965 add solarbeam
  volumes/adapters/solarbeam/index.ts
  volumes/index.ts
Labels: Volumes

#3966 add tomb-finance
  volumes/adapters/tomb-finance/index.ts
  volumes/index.ts
Labels: Volumes

#3967 add dfx-finance dexs
  volumes/adapters/dfx-finance/index.ts
  volumes/index.ts
Labels: Volumes

#3990 Commit with type error
  volumes/adapters/bancor/index.ts
Labels: Volumes

#3999 add backfill klayswap
  volumes/adapters/klayswap/index.ts
Labels: Volumes

#4001 add frax dexs
  volumes/adapters/frax/index.ts
  volumes/index.ts
Labels: Volumes

#4006 add izumi-finance dexs vol
  volumes/adapters/izumi-finance/index.ts
  volumes/index.ts
Labels: Volumes

#3962 add tinyman dexs
  volumes/adapters/tinyman/index.ts
  volumes/index.ts
Labels: Volumes

#4007 add junoswap vol
  volumes/adapters/junoswap/index.ts
  volumes/helper/chains.ts
  volumes/index.ts
Labels: Volumes

#4008 knightswap-finance-dex-vol
  volumes/adapters/knightswap-finance/index.ts
  volumes/index.ts
Labels: Volumes

#3991 Add CTR Lp Tvl
  projects/concentrator/index.js
Labels: TVL

#3998 Feature/tvl fix
  projects/0vix/Abis.js
  projects/0vix/Addresses.ts
  projects/0vix/Provider.js
  projects/0vix/abi.json
  projects/0vix/index.js
  projects/0vix/index2.js
Labels: TVL

#4020 adapter capricorn (cube network)
  projects/capricorn/index.js
  projects/helper/chains.json
  projects/helper/tokenMapping.js
Labels: TVL

#4029 update minswap DEX vol
  volumes/adapters/minswap/index.ts
  volumes/helper/chains.ts
Labels: Volumes

#4036 add claimswap dex vol
  volumes/adapters/claimswap/index.ts
  volumes/index.ts
Labels: Volumes

#4037 add spartacus-exchange
  volumes/adapters/spartacus-exchange/index.ts
  volumes/index.ts
Labels: Volumes

#4031 Add EUROC and GYEN tokens and pools.
  projects/dfx/contracts.json
Labels: TVL

#4010 Added KDex for Kava
  projects/kdex/index.js
Labels: blocked by author, TVL

#4030 add lemma v2(optimism) adapter
  projects/lemma/abis/perpV2Vault.json
  projects/lemma/index.js
Labels: TVL

#3970 Added Infy Protocol
  projects/infy/index.js
Labels: TVL

#4046 beamswap dex vol
  volumes/adapters/beamswap/index.ts
  volumes/index.ts
Labels: Volumes

#4052 openleverage-dex-vol
  volumes/adapters/openleverage/index.ts
  volumes/index.ts
Labels: Volumes

#3926 Radioshack
  volumes/adapters/radioshack/index.ts
Labels: Volumes

#4056 compound v1 fix
  projects/compound-onchain/index.js
Labels: TVL

#4068 add mobius-money
  volumes/adapters/mobius-money/index.ts
  volumes/index.ts
Labels: Volumes

#4065 update jioswap to include new ethereum pools
  projects/jioswap/config.json
  projects/jioswap/index.js
Labels: TVL

#4061 update polynetwork chains add conflux and astar
  projects/polynetwork/index.js
Labels: TVL

#4062 integrate eris on terra classic
  projects/eris-protocol/index.js
  projects/helper/terra.js
Labels: TVL

#4071 Update adapter for WingRiders
  volumes/adapters/wingriders/index.ts
Labels: Volumes

#4051 [Review]: Liquidations - Add angle borrowing module liquidations (mainnet)
  liquidations/angle/index.ts
Labels: Liquidations

#4082 add energiswap
  volumes/adapters/energiswap/index.ts
  volumes/helper/chains.ts
  volumes/index.ts
Labels: Volumes

#4063 add allchainbridge
  projects/allchainbridge/index.js
Labels: TVL
